.index-comment {
  @include media-breakpoint-up(md) {
    background-image: url("../images/bg-comment-1.png"),
      url("../images/bg-comment-2.png"), url("../images/dog.png"),
      url("../images/bg-comment-3.png");
    background-repeat: no-repeat;
    background-position: left 68% top 0%, left 0 bottom 0, left 45px bottom 0,
      left 2px bottom 0;
  }
}
